body{
		background-color: #c1e090;
		font-family: Akkurat, 'Helvetica Neue';
	}
	.toolbar{
		width: auto;
		min-height: 4em;
		display: flex;
		justify-content: space-between;
		background-color: white;
		margin: 1em;
	}
	.toolbar div {
	}
	.toolbar div div {

	}
	.toolbar input{
		height: 47px;
		width: 30vw;
		font-size: 16px;
		font-color: #3b3b3b;
		background: #cde199;
		margin: 0.6em;
		border-width: 0px;
	}

	#delivery{
		text-align: bottom;
		font-size: 1.3em;
		color: #487034;
		display: inline-flex;
		flex-direction: column;
		justify-content: flex-end;
	}

	#cart{
		width: 20%;
		background-color: #14ab30;
		color: white;
		display: inline-flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 1em;
	}
	
	#cart:hover{
		background-color: #118422
	}

	.sidebar{
		margin-left: 1em;
		height: 100%;
		width: 16%;
		background-color: white;
	}
	.sidebar{
		display: inline-flex;
		flex-direction: column;
		justify-content: flex-start;
		padding: 10px;
		vertical-align: top;
	}
	.sidebar ul{
		list-style-type: none;
		padding: 0px;
	}
	.sidebar ul a{
		text-decoration: none;
	}
	.sidebar ul a:visited{
		color: black;
	}
	.menuItem{
		background-color: #eee;
		padding: 8px;
		margin: 1px;
	}
	.plate{
		display: inline-flex;
		flex-wrap: wrap;
		width: 79%;
		vertical-align: top;
		background-color: #eee;
	}
	.plate article{
		width: 12em;
		height: 22em;
		margin: 2px;
		background-color: white;
	}
	.plate article img{
		width: 80%;
		padding: 10%;
	}
	.plate article h3,h4{
		margin: 4px;
	}
	.plate article:hover{
		border: 1px solid rgba(0,0,0,0.5);
		margin: 1px;
	}
	
	
	.amountOfGoods input{
		width: 50%;
		font-size: 2em;
		background-color: #e7ebe1;
		display: inline;
		margin-left: 4px;
		border-radius: 4px;
	}
	.amountOfGoods button{
		width: 40%;
		font-size: 2em;
		display: inline;
		border-radius: 4px;
		background-color: orange;
	}
	.ecoAlternative{
		margin-top: 10px;
	}
	.ecoAlternative div{
		display: inline;
	}
	.ecoAlternative button{
		display: inline;
		float: right;
		vertical-align: top;
		font-size: 1.5em;
		margin-right: 10px;
		margin-top: -15px;
		background-color: #14ab30;
		border-radius: 4px;
	}

	.marginalPrice{
		color: red;
		font-size: 1.3em;
	}

	.push-in-menu{
		float: right;
		width: 20%;
		height: 100%;
		right: 0px;
		top: 0px;
		z-index: 1000;
		overflow: auto;
		position: fixed;
		background-color: #eee;
		border-left: 2px solid black;
		padding-left: 5px;
	}
	
	#menuInButton {
		position: absolute;
		top: 47%;
		left: 0%;
		height: 1em;
	}
	
	#menuOutButton {
		display: none;
		position: fixed;
		top: 47%;
		right: 0%;
		height: 4em;
	}

	.push-in-menu a {
		display: block;
		font-size: 1.1em;
		font-weight: 300;
	}

	#priceLabels{
		display: flex;
		justify-content: center;
		font-size: 1.6em;
	}
	#ecoTag{
		color: #14ab30;
	}
	#nonEcoTag{
		margin-left: 1em;
	}
	#ecoTag, #nonEcoTag{

	}

	.container{
		width: 80%;
	}
	
	.infoPop{
		max-width: 1.25em;
		max-height: 1.25em;
		display: inline;
		border: 2px black solid;
		border-radius: 100%;
	}
	.infoPop:hover{
		border-color: grey;
	}
	#infoBox{
		background-color: beige;
		display: none;
		position: fixed;
		right: 20.5%;
		top: 40%;
		width: 12em;
		max-width: 12em;
		border: 2px solid black;
		padding: 3px;
	}
	
	#initialPopul{ 
		background-color: beige;
		display: none;
		position: fixed;
		right: 20.5%;
		top: 40%;
		width: 12em;
		max-width: 12em;
		border: 2px solid black;
		padding: 3px;
	}
	
	#selectedProduct{
		background-color: beige;
		width: 97%;
		height: 8em;
		border: 1px solid black;
		overflow-y: scroll;
		padding: 3px;
	}

	#cheapProducts{
		padding-right: 1em;
		padding-bottom: 1em;
	}

	#cheapProducts h3{
		margin-bottom: 4px;
		margin-top: 6px;
		color: #14ab30;
		font-size: 1.2em;
		text-shadow: 1px 1px #000;
	}

	.cheapPrice{
		color: red;
		float: right;
	}

	.infoPopContainer{
		display: flex;
		justify-content: flex-end;
		padding-right: 1em;
	}
	
	.kassa{
		display: none;
		flex-wrap: wrap;
		width: 79%;
		vertical-align: top;
		background-color: #eee;
	}
	
	.kassa .article .col{
		width: 15%;
		display: inline-flex;
		#flex-direction: column;
		#justify-content: flex-end;
	}
	
	.kassa .article{
		width: 99%;
		#height: 7em;
		margin: 2px;
		padding: 1px;
		background-color: white;
		display: inline-flex;
		#flex-direction: column;
		#justify-content: flex-end;
	}
	.kassa .article .col img{
		width: 4em;
		height: 4em;
		padding: 1%;
	}
	.kassa article h3,h4{
		margin: 4px;
	}
	.kassa article:hover{
		border: 1px solid rgba(0,0,0,0.5);
		margin: 1px;
	}